@import 'prismjs/themes/prism-okaidia.css';

html, body {
    @apply font-sans antialiased min-h-full min-h-screen overflow-auto;
}

#app {
    @apply h-full;
}

a, button {
    transition: background 129ms ease-in-out, color 120ms ease-in-out;
}

.page-title {
    @apply text-3xl font-extrabold leading-10 tracking-tight text-gray-200 sm:text-4xl;
}

.subtitle {
    @apply text-sm font-semibold uppercase tracking-wide text-gray-500;
}

.preamble {
    @apply text-xl font-bold italic md:leading-9 text-gray-50 md:text-2xl
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 1rem;
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}
