@import 'prismjs/themes/prism-okaidia.css';

a, button {
    transition: background 129ms ease-in-out, color 120ms ease-in-out;
}

.page-title {
    @apply text-3xl font-extrabold leading-10 tracking-tight text-white sm:text-4xl;
}

.subtitle {
    @apply text-sm font-semibold uppercase tracking-wide text-gray-500;
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 1rem;
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}
