.button {
    display: inline-flex;
    padding: theme('spacing.3') theme('spacing.4');
    font-size: theme('fontSize.base');
    font-weight: theme('fontWeight.medium');
    align-items: center;
    border-radius: theme('borderRadius.md');
    box-shadow: theme('boxShadow.lg');
    color: theme('colors.white');

    /* State */

    &:hover {
    //text-shadow: 0 0 5px rgba(0, 0, 0, .75);
    }

    &:active {
        @apply ring-0
    }

    &:focus {
        @apply border-transparent outline-none
    }

    &:focus-visible {
        @apply ring-2 ring-primary-500 ring-offset-2 ring-offset-gray-900
    }

    /*
    * Modifiers
    */

    /* Sizes */

    &.small {
        padding: theme('spacing.2');
        font-size: theme('fontSize.sm')
    }

    &.large {
        padding: theme('spacing.3') theme('spacing.5');
        font-size: theme('fontSize.base')
    }

    /* Colors */

    &.primary {
        background: theme('colors.primary.600');

        &:hover {
            background: theme('colors.primary.700');
        }

        &:focus {
            @apply ring-primary-500 ring-offset-gray-100
        }

    }

    &.gray {
        background-color: theme('colors.gray.700');

        &:hover {
            background-color: theme('colors.gray.800');
        }

        &:focus {
            @apply ring-gray-400 ring-offset-gray-200
        }

        .bg-primary & {
            &:focus {
                @apply ring-primary-300 ring-offset-primary-600
            }
        }
    }

    &.red {
        background: theme('colors.red.700');

        &:hover {
            background: theme('colors.red.800');
        }

        &:focus {
            @apply ring-red-400 ring-offset-gray-200
        }
    }


}
